* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    width: 100%;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    background-color: rgb(142, 142, 217);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 80px;
}

.nav_links {
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
}

.nav_links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.heading{
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: detailsheading;
    animation-timing-function: linear;
    background: linear-gradient(90deg, #39f, #93f, #60c);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: absolute;
    left: 0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
@keyframes detailsheading {
    0% {
        left: 0;
    }

    100% {
        left: 50%;
    }
}

.hero {
    width: 85%;
    margin: 0 auto;
}

.hero img {
    width: 100%;
    height: 500px;
    margin-top: 20px;
}


.car_model {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.car_model h1 {
    text-align: center;
    color: rgb(65, 64, 64);
    margin: 22px 0;
}


.car_model_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    padding: 10px;
    width: 340px;
    box-shadow: rgba(22, 22, 22, 0.356) 0px 3px 8px;
    border-radius: 10px;
    transition: all ease-in-out 1s;
    color: #808080;
    font-size: 16px;
    font-weight: 600;
}

.card img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card button {
    padding: 7px;
    margin-top: 10px;
    background-color: salmon;
    color: white;
    font-weight: bold;
    font-size: small;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


/* gallery Section  */

.photosGallery {
    width: 100%;
    margin: 0 auto;
}

.photosGallery h1 {
    text-align: center;
    color: rgb(65, 64, 64);
    margin: 22px 0;
}

.photoGallery_container {
    padding: 0px 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.photoCard {
    flex-grow: inherit;
    width: 440px;
    border-radius: 10px;
    transition: all ease-in-out 1s;
}

.photoCard img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* contact us  */

.contact_us_section {
    width: 96%;
    margin: auto;
    gap: 40px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;

}

h2 {
    font-size: 24px;
    color: #808080;
}

form {
    color: #1A202C;
    font-size: 16px;

}

.contact_us_form {
    width: 40%;
    padding: 40px;

}

.contact_us_img {
    width: 60%;
    text-align: center;
    margin: 50px auto;
    padding: 10px;
    overflow: hidden;

}

.contact_us_img img {

    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(227, 220, 220, 0.81) 0px 5px 15px;
    transition: all ease-in-out 1s;

}

.contact_us_img img:hover {
    transform: scale(1.06);

}


.contact_us_form label {
    color: #808080;
    font-weight: 600;

}

.contact_us_form input {
    background-color: #ffffff;
    width: 85%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #474343;
    margin: 10px 0px;
    font-family: sans-serif;
    font-weight: 600;
    opacity: 50%;


}


textarea {
    width: 85%;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    font-family: sans-serif;
    color: #808080;
    opacity: 50%;


}

.contact_us_form button {
    color: #ffffff;
    background-color: #0080ff;
    background-image: linear-gradient(#64a1e6, #9097e4);
    margin: 10px auto;
    padding: 10px;
    width: 25%;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;

}

.contact_us_form button:hover {
    background: #ffffff;
    color: #0080ff;
    border-radius: 5px;
}

.contact_us_form button:active {
    box-shadow: 2px 2px 5px #020934;


}


/* footer section         */

.footer {
    font-family: Courier, monospace;
    background-color: rgb(231, 235, 237);
    color: #4a4a4a;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.one {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-left: 60px;
}

.one>.first {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
}


.second {
    display: flex;
    justify-content: space-evenly;
    height: 15%;
    width: 90%;
}

.two,
.three {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.footer h3 {
    color: rgb(66, 61, 61);
    text-align: center;
}

.one h3 {
    color: rgb(98, 98, 233);
}

.footer ul {
    list-style: none;
    line-height: 180%;
}

.four {
    height: 210px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.mail {
    display: flex;
    gap: 10px;
    height: 20%;
    width: 100%;
}

footer input {
    height: 100%;
    width: 50%;
    border-radius: 5px;
    border: none;
    background-color: rgb(210, 205, 205);
}

.four button {
    width: 20%;
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: aliceblue;
}